<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- component -->
    <div
      class="h-100 w-full flex items-center justify-center bg-teal-lightest font-sans"
    >
      <div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">
        <div class="mb-4">
          <h1 class="text-grey-darkest">Bienvenido {{current_user.name}}</h1>
          <div class="flex mt-4">
            <form method="POST" enctype="multipart/form-data">
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-grey-darker"
                placeholder="Add Todo"
                id="description"
                name="description"
              />
              <button
                type="submit"
                class="flex-no-shrink p-2 border-2 rounded text-teal border-teal hover:text-white hover:bg-teal"
              >
                Add
              </button>
            </form>
          </div>
        </div>
        <div>
          {% for todo in todos %}
          <div class="flex mb-4 items-center">
            <p class="w-full text-grey-darkest">{{ todo.description }}</p>
            {% if todo.is_completed %}
            <button
              class="flex-no-shrink p-2 ml-4 mr-2 border-2 rounded bg-green-600 hover:text-white text-green border-green hover:bg-green"
            >
              Done
            </button>
            {% else %}
            <a
              href="/update/{{ todo.id }}"
              class="flex-no-shrink p-2 ml-4 mr-2 border-2 rounded bg-red-500 hover:text-white text-grey border-grey hover:bg-grey"
            >
              Not Done
            </a>
            {% endif %}
            <a
              href="/delete/{{ todo.id }}"
              class="flex-no-shrink p-2 ml-2 border-2 rounded text-red border-red hover:text-red-500 hover:bg-red"
            >
              Remove
            </a>
          </div>
          {%endfor%}
        </div>
      </div>
    </div>
  </body>
</html>
